.rating-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.rating-head, .rating-content{
    width: 100%;
    display: flex;
    justify-content: center;
}
.rating-content th, .rating-content td{
    padding: 20px 15px;
    border: 1px solid #ddd;
}
.create-sec{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;

}
.create-btn{
    width: 150px;
    height: 30px;
    border-radius: 8px;
    border: none;
    outline: none;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0066c0;
}