body{
    padding: 0;
    font-family: "Amazon Ember",Arial,sans-serif;
    font-size: 13px !important;
    margin: 0;
}

.logo-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /*margin-right: 20px;*/
}
.reg-main-sec{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.reg-sec{
    padding:14px 18px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.reg-sec h1{
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 15px;
}
form{
    line-height: 1.2;
}
.name-sec , .email-sec, .password-sec, .re-password-sec{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

label{
    font-weight: 700;
    position: absolute;
    margin: 5px 0;
}
input{
    width: 296px;
    margin-top: 20px;
    height: 29px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ddd;
}
input::placeholder{
    padding: 3px 7px;
    font-size: 11px;
}
input:focus{
    border: 1px solid #ddd;
    outline: none;
    box-shadow: 0 0 0 3px #c8f3fa, 0 1px 2px rgba(15,17,17,.15) inset;

}
.exclam-logo{
    width: 14px;
    height: 13px;
}
.password-sec p{
    font-size: 12px;
}
.reg-submit-btn{
    width: 296px;
    height: 29px;
    border: none;
    border-radius: 5px;
    background: #FFD814;
    margin-top: 15px;
}
.extra-sec{
    margin-top: 25px;
}

input[type='checkbox'] {
    width: 10px;
    /*height: 10px;*/
    display: flex;
    /*align-items: center;*/
    position: relative;
    margin:5px 0;
    left:120px;
    top: -2px;
}
/*li::marker{*/
/*    display: flex;*/
/*}*/