{% extends "./base.html.twig" %}

{% block body %}
    <div class="movie-page">
        <h3>Customer Page</h3>
        {#        {{ app.user.email }}#}
    </div>

    {#        <a#}
    {#                href="/movies/create"#}
    {#                class="uppercase border border-gray-500 text-lg py-4 px-6 rounded transition transition-all bg-gray-800 text-white hover:bg-white hover:text-gray-800">#}
    {#            Create New movie#}
    {#        </a>#}
{% endblock %}